.Main  {
    margin: 1rem;
    display: flex;
    justify-content: center;
}

.Main .birdOne .Image1 {
    height: 25rem;
    width: 25rem;
}

.Main .birdTwo .Image2 {
    height:25rem;
    width: 25rem;
}

.Main .space {
    margin: 5rem;
}


.Main .birdOne .Buttons1 button {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: none;
    margin: 0 5px;
    font-size: 1em;
    cursor: pointer;
}

.Main .birdTwo .Butttons2 button {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: none;
    margin: 0 5px;
    font-size: 1em;
    cursor: pointer;
}
